## Jupyter Notebook

### Keyboard Shortcuts
<br>
Toggle between edit and command mode with `Esc` and `Enter`, respectively.


Once in command mode:
    
1. Scroll up and down your cells with your `Up` and `Down` keys.

2. Press `A` or `B` to insert a new cell above or below the active cell.

3. `M` will transform the active cell to a Markdown cell.

4. `Y` will set the active cell to a code cell.

5. `D` + `D` (D twice) will delete the active cell.

6. `Z` will undo cell deletion.

7. `Shift` + `Enter` will run the cell and move to the cell below.

8. `Ctrl` + `Enter` will run the cell and stay on the current cell.

## Introduction to Python

### Functions

In [ ]:
#function definition syntax
def functionName(formalParameters):
    functionBody

#example
def add_numbers(x, y, z):     #add_numbers is user-defined
    return x + y + z

summ = add_numbers(5, 4, 20)
print(summ)                   #print is a built-in function

### Data Types
<br>
Use `type` to return the object's type.

In [ ]:
type('This is a string')

In [ ]:
type(None)

In [ ]:
type(1)

In [ ]:
type(1.0)

In [ ]:
x = (1, 'a', 2, 'b')
type(x)

In [ ]:
x = [1, 'a', 2, 'b']
type(x)

In [ ]:
x = {1: 'a', 2: 'b'}
type(x)

### Lists

In [ ]:
l1 = ["one", 1, "two", 2, True]

#accessing valuess in a list
#note: index always start at 0

print(l1[2])
print(l1[1:4])

<br>
Use `append` to append an object to a list.

In [ ]:
l1.append(3.3)
print(l1)

<br>
Use `+` to concatenate lists.

In [ ]:
[1,2] + [3,4]

<br>
Use `*` to repeat lists.

In [ ]:
[1]*3

<br>
Use the `in` operator to check if something is inside a list.

In [ ]:
1 in [1, 2, 3]

Getting the length of a list

In [ ]:
len(l1)

Looping through each item in a list

In [ ]:
for item in l1:
    print(item)

### Dictionaries

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print(dict)

Accessing a value through indexing

In [ ]:
print(dict['Name'])
print(dict['Age'])

Updating a dictionary

In [ ]:
dict['Age'] = 8                # update existing entry
dict['School'] = "DPS School"  # add new entry
print(dict)

Iterate over all of the keys

In [ ]:
for index in dict.keys():
    print(dict[index])

Iterate over all of the values

In [ ]:
for val in dict.values():
    print(val)

Iterate over all of the items in the dictionary

In [ ]:
for index, val in dict.items():
    print(index)
    print(val)

Deleting elements in a dictionary

In [ ]:
del dict['Name']
print(dict)

In [ ]:
dict.clear()
print(dict)

## Numerical Python (NumPy)

In [2]:
import numpy as np

### Creating Arrays

In [ ]:
mylist = [1, 2, 3]      #converting a list to a numpy array
x = np.array(mylist)  
print(x)

y = np.array([4, 5, 6]) #passing a list directly to a numpy array
print(y)

m = np.array([[7, 8, 9], [10, 11, 12]]) #pass in a list of lists to create a multidimensional array
print(m)

Use the shape method to find the dimensions of the array. (rows, columns)

In [ ]:
m.shape

`arange` returns evenly spaced values within a given interval.

In [ ]:
n = np.arange(0, 30, 2) # start at 0 count up by 2, stop before 30
n

`reshape` returns an array with the same data with a new shape.

In [ ]:
n = n.reshape(3, 5) # reshape array to be 3x5
n

`linspace` returns evenly spaced numbers over a specified interval.

In [ ]:
o = np.linspace(0, 4, 9) # return 9 evenly spaced values from 0 to 4
o

`resize` changes the shape and size of array in-place.

In [ ]:
o.resize(3, 3)
o

### Indexing/Slicing

In [3]:
r = np.arange(36)
r.resize((6, 6))
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

Use bracket notation to slice: `array[row, column]`

In [ ]:
r[2, 2]

And use : to select a range of rows or columns

In [ ]:
r[3, 3:6]

Here we are selecting all the rows up to (and not including) row 2, and all the columns up to (and not including) the last column.

In [ ]:
r[:2, :-1]

## Pandas

In [4]:
import pandas as pd

### Series

In [5]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

Querying a series

In [6]:
s.iloc[3]

'South Korea'

In [7]:
s.loc['Golf']

'Scotland'

In [8]:
s[3]

'South Korea'

In [9]:
s['Golf']

'Scotland'

### DataFrame

In [10]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

Querying a DataFrame

In [11]:
df.loc['Store 2']

Name                  Vinod
Item Purchased    Bird Seed
Cost                      5
Name: Store 2, dtype: object

In [12]:
df.loc['Store 1']

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5

In [13]:
df.loc['Store 1', 'Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [14]:
df.loc[:,['Name', 'Cost']]

          Name  Cost
Store 1  Chris  22.5
Store 1  Kevyn   2.5
Store 2  Vinod   5.0

## Matplotlib

In [15]:
import matplotlib as mpl
import matplotlib.pyplot as plt

### Line Plot

In [ ]:
import numpy as np

linear_data = np.array([1,2,3,4,5,6,7,8])
exponential_data = linear_data**2

plt.figure()
plt.plot(linear_data, exponential_data, '-o')

### Bar Chart

In [ ]:
import numpy as np

linear_data = np.array([1,2,3,4,5,6,7,8])

xvals = range(len(linear_data))
plt.bar(xvals, linear_data, width = 0.3)

### Scatter Plot

In [ ]:
import numpy as np

x = np.array([1,2,3,4,5,6,7,8])
y = x

plt.figure()
plt.scatter(x, y)